{% extends "employ/base.html" %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Profile</h1><br><br>
      <img src='{{user.employee.profilepic.url }}' alt="Profile Image" width="150" height="150" class="img-thumbnail">
      <br><br>
      <table class='table table-hover'>
        <tr><th>Name :</th><td>{{user.username}}</td></tr>
        <tr><th>Designation :</th><td>{{user.employee.designation}}</td></tr>
        <tr><th>Gender :</th><td>{{user.employee.gender}}</td></tr>
        <tr><th>Address :</th><td>{{user.employee.address}}</td></tr>
        <tr><th>Usertype :</th><td>{{user.employee.usertype}}</td></tr>
      </table>
      <br><br><br>
      <!--  -->
      <a href="{% url 'emp_view' %}"><div class="btn btn-info">View Employees</div></a>
      {%  if user.employee.usertype == "MAN" %}
      <a href="{% url 'view_sal' %}"><div class="btn btn-info">View Salaries</div></a>
      <a href="{% url 'create' %}"><div class="btn btn-warning">Create Employees</div></a>
      {% endif %}
      {% if user.employee.usertype == "SUP" %}
      <a href="{% url 'view_dep' %}"><div class="btn btn-info">View Departments</div></a>
      <a href="{% url 'view_sal' %}"><div class="btn btn-info">View Salaries</div></a>
      <a href="{% url 'create' %}"><div class="btn btn-warning">Create Employees</div></a>
      <a href="{% url 'create_dep' %}"><div class="btn btn-warning">Create Department</div></a>
      <a href="{% url 'create_sal' %}"><div class="btn btn-warning">Create Salary</div></a>

      {% endif %}
      <br><br><br><br>
      <a href="{% url 'logout' %}"><button name="button" class='btn btn-danger'>Logout</button></a>
    </div>
  </div>
{% endblock %}
