{% extends "employ/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <form  method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="SalaryAmount">Salary Amount</label>
        <input type="number" name="SalaryAmount" class='form-control'>
      </div>

      <input type="submit" value="Update">
    </form><br><br>
    <a href="{% url 'view_sal' %}"><div class="btn btn-default">Back to Salaries</div></a>
  </div>
</div>

{% endblock %}
