{% extends "employ/base.html" %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <table class='table table-hover'>
        <thead>
          <th>Salary ID</th>
          <th>Salary Amount</th>
        </thead>
        {% for i in sal %}
        <tr>
          <td>{{i.salaryID}}</td>
          <td>{{i.salaryAmount}}</td>
          {% if user.employee.usertype == "SUP" %}
          <td><a href="{% url 'sal_update' pk=i.salaryID %}"><div class="btn btn-warning">Update</div></a></td>
          <td><a href="{% url 'sal_delete' pk=i.salaryID %}"><div class="btn btn-danger">Delete</div></a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>


      <a href="{% url 'profile' %}"><div class="btn btn-default">Back to Profile</div></a>
    </div>
  </div>
{% endblock %}
